body {
    margin: 0;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }
}
.canvasArea {
    
}
.canvas {
    /* width: 100vw;
    height: 100vh; */
    width: calc(50vw - 2px);
    height: calc(50vh - 2px);
}
